.characterListControls {
  background: white;
  margin: 2rem;
  padding: 1rem;
  display: flex;
}
@media screen and (max-width: 400px) {
  .characterListControls {
    margin: 0 0 2rem 0;
  }
}
.characterListControls__combo {
  min-width: 8rem;
  margin-right: 2rem;
  text-align: left;
}
.characterListControls__combo select, .characterListControls__combo label {
  width: 100%;
  display: block;
}
.characterListControls__combo label {
  margin-bottom: 0.25rem;
}
