$breakpoint-mobile: 400px;

.characterListControls {
    background: white;
    margin: 2rem;
    padding: 1rem;
    display: flex;

    @media screen and (max-width: $breakpoint-mobile) {
        margin: 0 0 2rem 0;
    }

    &__combo {
        min-width: 8rem;
        margin-right: 2rem;
        text-align: left;

        & select,
        & label {
            width: 100%;
            display: block;
        }

        & label {
            margin-bottom: 0.25rem;
        }
    }
}
